@import '~src/assets/scss/variables';
.layout-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .sidenav-container {
    flex: 1;
    background: $main-background-color;
    .sidenav {
      padding: 12px;
      width: 250px;
      background: $white;
    }
    .main-container {
      padding: 16px;
    }
  }
}
::ng-deep .mat-tab-label
{
  height: fit-content !important;
  min-height: 5px!important;
  margin: 3px!important;
  width: 90px!important;
  min-width: 5px!important;
}
.mat-tab-label{
  display: inline-flexbox;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
}
.mat-tab-label .mat-icon{
  font-size: 16px;
}
